@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: url(./assets/images/icon-list.svg);
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
}

.emailInput:hover {
  cursor: pointer;
}

.submitBtn {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border: none;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: var(--tomato);
}

/* Subscribed Card */
.dismissBtn {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-top: 1.5rem;
}

.dismissBtn:hover {
  cursor: pointer;
  background-color: var(--tomato);
  border: none;
}

.attribution {
  position: fixed;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--tomato);
}

/* /////////////////////////////////////////// */
@media screen and (min-width: 535px) {
  body {
    justify-content: center;
    background-color: var(--charcoal-grey);
  }

  /* Landing Page */
  .card {
    display: flex;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 1.5rem;
  }

  .information {
    padding: 0 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image2 {
    display: none;
  }

  /* Subscribed Card */
  .subscribedCard {
    background-color: var(--white);
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
    padding: 3rem;
  }
}

/* Footer */
.attribution {
  color: var(--white);
}

/* /////////////////////////////////////////// */
@media screen and (max-width: 534px) {
  /* Landing Page */
  body {
    margin: 0;
  }

  .card {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .image1 {
    display: none;
  }

  .img {
    width: max-content;
  }

  /* Subscribed Card */
  .subscribedCard {
    margin: 10rem 1rem 0 1rem;
  }

  .dismissBtn {
    margin-top: 18rem;
  }

  .attribution {
    margin-left: 1rem;
    color: var(--charcoal-grey);
  }
}
